.divider {
  border: none;
  background-color: #e0e0e0;
  margin: 0;
}
.horizontal { height: 1px; width: 100%; margin: 16px 0; }
.vertical { width: 1px; height: 24px; display: inline-block; margin: 0 16px; vertical-align: middle; }